.intro__text{
    max-width: 690px;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 33px;
    line-height: 163%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .intro__text{
        font-size: 1rem;
        line-height: 163%;
        margin: 0 0 28px;
    }
}