.place__paragraph{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6111;
    grid-area: place__paragraph;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}
.place__paragraph:last-child{
    margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
    .place__paragraph{
        font-size: 1rem;
    }
}
@media screen and (max-width: 767px) {
    .place__paragraph{
        width: 90%;
        margin: 0 auto 26px;
        line-height: 163%;
    }
}