.cover{
    max-width: 1184px;
    margin: 92px auto;
    /* min-height: 740px; */
    /* position: relative; */
}

/* .cover:hover .cover__overlay{
    opacity: 0.8;
    min-height: 640px;
} */
@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
        min-height: 640px;
    }
}
@media screen and (max-width: 1023px) {
    .cover{
        width: 100%;
        min-height: 480px;
        margin: 90px auto 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover{
        margin: 66px auto 64px;
        /* min-height: calc(100vh/1.6); */
        min-height: 200px;
    }
}