.place{
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraphs"
    "place__image place__paragraphs";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
  
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place{
        column-gap: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place{
        column-gap: 28px;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .place{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "place__title"
        "place__website"
        "place__image"
        "place__paragraphs";
        justify-content: center;
        margin-bottom: 50px;
        row-gap: 32px;
    }
}