.place__url-heading{
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 100%;
    color: #AAAAAA;
    letter-spacing: 0.125rem;
    align-self: end;
    justify-self: start;
    padding-bottom: 12px;
    text-transform: uppercase;
    display: block;
}
@media screen and (max-width: 767px) {
    .place__url-heading{
        width: 90%;
        margin: 0 auto;
    }
}